<?xml version="1.0"?>
<robot name="simple_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="world"/>
  <xacro:include filename="arm.urdf.xacro" />
  <xacro:include filename="gripper.urdf.xacro" />
  
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base"/>
  </joint>

  <joint name="arm_to_gripper" type="fixed">
    <parent link="link5"/>
    <child link="gripper_base"/>
  </joint>
  
  <xacro:include filename="robot.transmission.xacro" />
  <xacro:include filename="robot.gazebo.xacro" />
  
  

  
  

</robot>
